<%= flash[:message]  if flash[:message]%>
<br>

<br><h2 class="text-center">Hello, <%= @employee.name%>!</h2>
<h4><%= @employee.email%><h4>
<h4>Job title: <%= @employee.job_title%><h4>
<br>

<div class="container">
  <div class="row">
    <div class="col-sm border border-dark rounded text-center">
      <h3>View Logs</h3>
     <p> <%= link_to  "All of My Logs", employee_logs_path(@employee) %></p>
     <p> <%= link_to  "All General Logs", logs_path %></p>
    </div>
    <div class="col-sm border border-dark rounded text-center">
     <h3> Add a New</h3>
      <p><%= link_to "Add Log", new_log_path %></p>
      <p><%= link_to "Add Contact", new_contact_path %></p>
    </div>
    <div class="col-sm border border-dark rounded text-center">
      <h3>View All Contacts</h3>
      <p><%= link_to  "General Most Frequently Contacted", most_frequently_contacted_contacts_path %>
      <p><%= link_to "All Contacts", contacts_path %></p>
    </div>
  </div>
</div>




