<h3>Viewing Contact Info</h3>


<br><h5>Contact Name: <%= @contact.name%></h5>
<li>Description: <%= @contact.description%></li>
<br>
<li>Additional Notes About Contact: <%= @contact.notes%></li>

<br>
Contact Options: 
<%= link_to  "Edit this Contact ", edit_contact_path(@contact) %> |
<%= link_to "All Contacts", contacts_path %>
<br>

Logging Options:
<%= link_to  "Add a New Log for this Contact", new_contact_log_path(@contact) %>  |
<%= link_to  "All Logs with this Contact", contact_logs_path(@contact) %>



