<%= flash[:message]  if flash[:message]%>

<h3>All Logs</h3>
<h4>-In Most Recent Order-</h4>

<br>
<%if !params[:employee_id] %> 
  <h5>Filter Logs:</h5>
     <%= form_tag("/logs", method: "get") do %>
    
     By Employee: <%= select_tag "employee", options_from_collection_for_select(@employees, "id", "name"), include_blank: true %>
     By Contact: <%= select_tag "contact", options_from_collection_for_select(@contacts, "id", "name"), include_blank: true %>
     <%= submit_tag "Filter" %>
     <% end %>
<%end%>
<br>
<br>

<% @logs.each do |log| %>

  <li> 
    
    <%= link_to display_date(log), log_path(log) %>: 
    by  <%= log.employee.name %>
    with <%= link_to log.contact.name, contact_path(log.contact)%>
    
    -  <%= log.communication_type%>
    -  <%= answered_yesno(log)%>

</li>

<%end%>

<br>
<br>
<%= link_to  "Add A New Log", new_log_path %>