Log index page, add search filter

 
<% @logs.each do |log| %>

  <li> 
    
    <%= link_to display_date(log), log_path(log) %>: 
    by  <%= log.employee.name %>
    with <%= link_to log.contact.name, contact_path(log.contact)%>
    
    -  <%= log.communication_type%>
    -  <%= answered_yesno(log)%>

</li>

<%end%>